.example-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.mat_buttom {
    margin-left: 10px;
    background-color: rgb(104, 199, 243);
}

.mat_buttom_del {
    margin-left: 30%;
    background-color: yellow;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}