
<div class="container"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">
<div class="item item-1" fxFlex="20%"></div>
<div class="item item-2" fxFlex="20%" fxFlexOrder="3"></div>
<div class="item item-3" fxFlex><img class="headerImg" src="./assets/images/letras.png"></div>
</div>
<br>

<div class="content"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">
<div class="item item-4" fxFlex><img class="mapasImg1" src="./assets/images/mapa1.png"></div>
<div class="item item-5" fxFlex><img class="mapasImg2" src="./assets/images/mapa2.png"></div>
<div class="item item-6" fxFlex><img class="mapasImg3" src="./assets/images/mapa3.png"></div>
<div class="item item-7" fxFlex><img class="mapasImg4" src="./assets/images/mapa4.png"></div>
</div>
<br>



