.mat-flat-button{
     background-color: yellow;
     width: 10%;
}

.mat-form-field{
   color: rgb(187, 12, 12);
   background-color: #fff;
   border-width: 3px;
   border-style: solid;
   border-color: black;
}