.headerImg {
    width: 50%;
    height: auto;
    position: relative;
    top: -15%; 
    left: -5%;
    margin: auto;
    display: block;
}

.mapasImg1{
    width: 120%;
    height: auto;
    position: relative;
    top: -10%; 
    left: 60%;
    margin: auto;
    display: block;
}

.mapasImg2{
    width: 120%;
    height: auto;
    position: relative;
    top: -10%; 
    left: 117%;
    margin: auto;
    display: block;
}

.mapasImg3{
    width: 120%;
    height: auto;
    position: relative;
    top: 100%; 
    left: -147%;
    margin: auto;
    display: block;
}

.mapasImg4{
    width: 120%;
    height: auto;
    position: relative;
    top: 100%; 
    left: -90%;
    margin: auto;
    display: block;
}